<head>
    <meta charset="utf-8">
    <title>Todos - All your todos synced wherever you happen to be</title>
    <meta name="description" content="The simple todo list that keeps your todos in sync everywhere free forever. Todo is open source and powered by Meteor.">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
    <link rel="shortcut icon" type="image/png" href="favicon.png?v1" sizes="16x16 32x32 64x64">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-precomposed.png">
</head>